<!DOCTYPE html>
<html ng-app="ToDoApp">

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="ToDoList.css" rel="stylesheet" />
</head>

<body ng-controller="ToDoListController as list">
    <div id="toDoBox">
        <h1>TODO List</h1>
        <h3>A place to store the things you have to do!</h3>
        <input id="filterAdd" placeholder="Filter your to-dos" type="text" ng-model="newFilter" />
        <ol class="align">
            <div class="spacing" ng-repeat="toDo in list.ToDoList | filter: newFilter" ng-controller="complete as ctrl">
                <div class="items" ng-class='{div: true, removeTask: removeTask}'>
                    <div class="elements">
                        <li ng-model="newToDo" ng-class='{li: true, completeTask: completeTask}'>
                            <input type="button" value="Complete" class="uncompletedTask" ng-click='completeTaskClick()' ng-hide="toDo.edit" />
                            <span ng-hide="toDo.edit">{{ toDo.task }}</span>
                            <input class="edit" type="text" name="editText" value="{{toDo.task}}" ng-show="toDo.edit" ng-model="toDo.task" />
                        </li>
                    </div>
                    <div>
                        <input class="edit" type="button" value="Save" ng-show="toDo.edit" ng-click="toDo.edit=false" />
                        <input class="change" type="button" value="Edit" ng-hide="toDo.edit" ng-click="toDo.edit=true" ng-class='{gone: completeTask}' />
                        <input class="remove" type="button" value="X" ng-click="removeTaskClick()" />
                    </div>
                </div>
            </div>
        </ol>
        <input id="filterAdd" placeholder="Add a to-do" type="text" ng-model="newToDo" />
        <input id="addClick" value="Add" type="button" ng-click="addTask()" />
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="ToDoList.js"></script>
    <script src="TodoController.js"></script>
</body>

</html>